* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'star';
    src: url(STJEDISE.TTF);
}

header {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
}

header img {
    width:300px;
    animation: float 2s ease-in-out infinite;
    position: relative;
    top: 0px;
}

@keyframes float {
    0%{
        top: 5px;
    }
    50% {
        top: -5px;
    } 
    100% {
        top: 5px;
    }
}

.scene {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #01070a;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    position: absolute;
    font-family: 'star';
    color: white;
    animation: opacity 2s ease-in infinite;
    font-size: 1rem;
    transition-duration: 2s;
    top: 50vh;
}

h3.subir {
    position: absolute;
    top: -100vh;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.scene i {
    position: absolute;
    top: -250px;
    background: rgba(255, 255, 255, 0.5);
    animation: animateStars linear infinite;
}

@keyframes animateStars {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(200vh);
    }
}

.scene .rocket {
    position: relative;
    top: 0vh;
    animation: animate .6s ease infinite;
    transition-duration: 2s;
}

.rocket.subir {
    position: relative;
    top: -100vh;
    animation: subir 1s ease-in normal;
}

@keyframes subir {
    0% {
        top: 0vh;
    }
    50% {
        top: -100vh;
    }
    100% {
        top: -700vh;
    }
}

@keyframes animate {
    0% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(-2px);
    }
}

.scene .rocket::before {
    content: '';
    position: absolute;
    bottom: -196px;
    left: 50%;
    transform: translate(-50%);
    width: 10px;
    height: 200px;
    background: linear-gradient(#00d0ff, transparent);
}

.scene .rocket::after {
    content: '';
    position: absolute;
    bottom: -196px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 200px;
    background: linear-gradient(#00d0ff, transparent);
    filter: blur(20px);
}

form {
    border-radius: 20px;
    border: 4px solid yellow;
    font-family: 'star';
    position: absolute;
    background-color: white;
    width: auto;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 30px;
}

#fecharbtn {
    position: relative;
    top: 100vh;
    transition-duration: 2s;
}

#fecharfor {
    position: absolute;
    top: 100vh;
    transition-duration: 2s;
}

#fecharbtn.subir {
    position: relative;
    top: -10vh;
}

#fecharfor.subir {
    position: absolute;
    top: 40vh;
}

input {
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 10px;
    width: 200px;
    margin-left: 24px;
}

.pesquisar {
    width: 100px;
    margin: 0 auto;
    margin-bottom: 30px;
}

#pesquisar {
    border: 1px;
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 5px 12px;
    font-family: 'star';
}

.respostas {
    text-align: center;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.90rem;
    width: 200px;
    background-color: rgb(255, 123, 0);
    height: auto;
    padding: 5px 10px;
    margin: 0 auto;
    color: black;
}

#content p {
    font-style: italic;
    margin-bottom: 5px;
}

.fechar {
    position: relative;
    top: -110px;
    left: 90px;
}

.fechar button {
    border-radius: 10px;
    background-color: #00d0ff;
    padding: 5px 10px;
}

@media screen and (max-width:350px){
        header img {
            width: 100px;
        }
        #fecharbtn.subir {
            position: relative;
            top: -40vh;
        }
        #fecharfor.subir {
            position: absolute;
            top: 10vh;
        }
}



